@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.spotify {
    min-height: 100vh;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    background: #F6F8FB;
    background-size: cover;

    max-width: 100%;
    overflow-x: hidden;
}

.spotify::-webkit-scrollbar {
   display: none;
}

.spotify .top {
    width: 60%;
    height: 100%;

    margin-top: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-size: cover;
}

.spotify .top .imageContainer {
    height: 15em;
    width: 100%;
    overflow: hidden;
}

.spotify .top .image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.spotify .bottom .imageContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spotify .bottom .image {
    height: 100%;
    width: 50%;
    border-radius: 15px;
    object-fit: cover;
}

.spotify .top .big-text {
    font-family: DM Sans;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 700;
    text-align: left;

    line-height: 2em;

    margin-top: 0px;
    margin-bottom: 0px;
}

.spotify .top .text {
    font-family: DM Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    text-align: center;

    line-height: 1.5em;

    margin-top: 0px;
    margin-bottom: 0px;
}

.spotify .bottom {
    width: 60%;
    margin-bottom: 50px;
}

.spotify .bottom .text {
    font-family: DM Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 1.5em;
    text-align: left;
}

.spotify .spacer {
    height: 15px;
}

@media (max-width: 800px) {
    .spotify .top {
        width: 60%;
        height: 100%;

        margin-top: 20vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        background-size: cover;
    }

    .spotify .top .left-container .big-text {
        font-size: 1em;
    }

    .spotify .top .right-container .text {
        font-size: 0.8em;
    }

    .spotify .bottom .text {
        font-size: 0.8em;
    }
}
