.header {
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: top;

    text-decoration: none;

    margin-top: 50px;
    height: 50px;
    width: 100vw;
}

.header .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-right: 50px;
}
