.header {
    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: top;

    text-decoration: none;

    height: 7.5em;
    width: 100vw;

    background: #F6F8FB;
    background: linear-gradient(to top, rgba(255,0,0,0), #F6F8FB);
}

.header .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 2.5em;
    margin-left: 2.5em;
}


@media (max-width: 900px) {
    .header {
        align-items: center;
        justify-content: center;
    }

    .header .right {
        align-items: center;
        justify-content: center;
        background: blue;
        margin-left: 0em;
        margin-right: 0em;
    }
}