.icon-button {
    height: 40px;
    width: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: transparent;
    color: #4285F4;

    font-size: 16px;

    border: 2px solid;
    border-radius: 10px;
    border-color: #4285F4;
    background: rgba(66, 133, 244, 0.35);

    margin-left: 0.25em;
    margin-right: 0.25em;
}

.icon-button:hover {
    color: white;

    border: 2px solid;
    border-radius: 10px;
    border-color: #4285F4;

    background: rgba(66, 133, 244, 0.65);
}

.icon-button .icon {
    text-decoration: none;
}
