.nav-button {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;

    height: 3.125em;
    width: 9.375em;

    font-family: DM Sans;
    font-size: 1em;
    font-style: normal;
    letter-spacing: 0.1em;
    text-align: right;
    color: #000000;

    background: transparent;

    margin-right: 25px;
}

.nav-button .text {
    line-height: 0.5;
    border-bottom: 2px solid transparent;
}

.nav-button .text:hover {
    line-height: 0.5;
    border-bottom: 2px solid black;
}

