.picture-button {
    max-height: 350px;
    max-width: 250px;

    box-shadow: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.05));

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background: transparent;

}

.picture-button:hover {
    filter: brightness(110%);
}

.picture-button .imageContainer {
    max-height: 300px;
    max-width: 250px;
}

.picture-button .textContainer .subtitle {
    font-family: Lato;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.15em;
    text-align: left;

    margin-top: 10px;
    margin-bottom: 5px;

    color: #000000;
}

.picture-button .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100px;
    width: 250px;
}
