@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.about {
    min-height: 100vh;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    background: #F6F8FB;
    background-size: cover;
}

.about .centered {
    width: 60%;
    height: 100%;

    margin-top: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-size: cover;
}

.about .centered .big-text {
    font-family: DM Sans;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    text-align: left;

    margin-top: 0px;
    margin-bottom: 0px;
}

.about .centered .icon-row {
    height: 50px;
    width: 250px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 50px;
}

.about .content {
    width: 100%;

    margin-bottom: 25px;
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about .content .text {
    font-family: DM Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 1.5em;
}

.about .content .left-panel {
    width: 50%;
    text-align: left;
}

.about .content .right-panel {
    width: 45%;
    text-align: right;
}

.about .spotify-embed {
    margin-top: 15px;
    border-radius: 15px;
}

@media (max-width: 1000px) {
    .about .content {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .about .content .left-panel {
        width: 100%;
        text-align: center;
    }

    .about .content .right-panel {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}
