@import url(https://fonts.googleapis.com/css?family=DM+Sans:400&subset=latin,latin-ext);

.landing {
    background: #F6F8FB;
    min-height: 100vh;

    font-family: DM Sans;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    margin-top: 20vh;
    margin-bottom: 1em;
}

.landing .introduction .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
}

.landing .row {
    height: 100%;
    width: 60vw;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    overflow-y: hidden;
    overflow-x: auto;

    margin-top: 3em;
    margin-bottom: 1em;
}

.landing .row .header {
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.landing .icon-row {
    display: flex;
    flex-direction: row;
}

.image {
    height: 12em;
    width: 15em;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

@media (max-width: 900px) {
    
    .landing .row {
        width: 80%;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .landing .icon-row {
        margin-bottom: 2em;
    }
}
