@import url(https://fonts.googleapis.com/css?family=DM+Sans:400&subset=latin,latin-ext);

.landing {
    background: #F6F8FB;
    min-height: 100vh;

    font-family: DM Sans;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    margin-top: 10vh;
    margin-bottom: 1em;

    animation: transitionIn 1s;
}

.landing .introduction .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
}

.landing .introduction .welcome p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.01em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(10, end),
      blink-caret .75s step-end infinite;
}

.landing .row {
    height: 100%;
    width: 80vw;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    overflow-y: hidden;
    overflow-x: auto;

    margin-bottom: 1em;

}

.landing .icon-row {
    display: flex;
    flex-direction: row;
}

.image {
    height: 12em;
    width: 15em;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

@media (max-width: 900px) {
    .landing {
    }

    .landing .introduction {
        margin-top: 15vh;
    }

    .landing .row {
        width: 80%;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .landing .icon-row {
        margin-bottom: 2em;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: auto }
}
    
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}